<h1><img src="http://img.tweetimag.es/i/<%= @user.screen_name %>_b" /> <%= @user.screen_name %></h1>
<p><a href="http://twitter.com/#!/<%= @user.screen_name %>">Twitter Profile</a></p>

<table>
	<tr>
		<td valign="top">
			<h3>Received LOLs: <%= @user.received_lols.count %></h3>
			
			<% @user.received_lols.each do |lol| %>
				<p>
					<%= lol.tweet.text %><br />
					<small><img src="http://img.tweetimag.es/i/<%= lol.tweet.from_user %>_m" /> <%= link_to lol.tweet.from_user, user_path(lol.tweet.from_user) %></small>
				</p>
			<% end %>
		</td>
		<td valign="top">
			<h3>Given LOLs: <%= @user.given_lols.count %></h3>
			
			<% @user.given_lols.each do |lol| %>
			<p>
				<%= lol.tweet.text %><br />
				<small><img src="http://img.tweetimag.es/i/<%= lol.tweet.from_user %>_m" /> <%= link_to lol.tweet.from_user, user_path(lol.tweet.from_user) %></small>
			</p>
			<% end %>
		</td>
	</tr>
</table>